{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
 <div class="container_main">
   <div class="main_homePage">
      <div class="container_slider">
         {#
            intégrer des images et les faire défiler faire une boucle pour afficher les images
         #}
         <div class="container_slider_img">
            <img src="{{asset('img/slider-1.jpg')}}" class="slider_img" alt="...">
         </div>
      </div>
      <div class="container_categorieDeServices" id="sidebar">
         <h2>Categories de services</h2>
         <ul class="categorieDeServices_list">
            {% for service in categorieDeServices %}
               {% if service.valide %}
                  <li class='button'><a href="{{path('app_categorie_de_services', {'id': service.id})}}">{{ service.nom }}</a></li>
               {% endif %}
            {% endfor %}           
         </ul>
      </div>
      <div class="container_recherche">
         {% include 'block/recherche.twig' %}
      </div>
      <div class = "container_serviceEnAvant">
         <div class="card_serviceEnAvant " >
            <img src="{{asset('img/services-aides-a-domicile.png')}}" class="card-img-top" alt="...">
            <div class=" serviceEnAvant-body">
               {# au survol le nom et le boutton plus de détails coder dans sass #}
               <h5 class="card-title">{{serviceDuMois.nom}}</h5>
               <a href="{{path('app_categorie_de_services', {'id': serviceDuMois.id})}}" class="button"><button class="button">Plus de détails</button></a>
            </div>
         </div>  
      </div>
      <div class="container_prestataire_recent">
         <div class ="card_prestataire_recent card" style="width: 18rem;">
            <img src="..." class="img_prestataire_recent card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">prestataire_recent</h5>
               <a href="{{path('app_categorie_de_services', {'id': serviceDuMois.id})}}" class="button">Plus de détails</a>
            </div>
         </div>
      </div>
      <div class="container_prestataire_recent">
         <div class ="card_prestataire_recent card" style="width: 18rem;">
            <img src="..." class="img_prestataire_recent card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">prestataire_recent</h5>
               <a href="{{path('app_categorie_de_services', {'id': serviceDuMois.id})}}" class="button">Plus de détails</a>
            </div>
         </div>
         <div class ="card_prestataire_recent card" style="width: 18rem;">
            <img src="..." class="img_prestataire_recent card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">prestataire_recent</h5>
               <a href="{{path('app_categorie_de_services', {'id': serviceDuMois.id})}}" class="button">Plus de détails</a>
            </div>
         </div>
         <div class ="card_prestataire_recent card" style="width: 18rem;">
            <img src="..." class="img_prestataire_recent card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">prestataire_recent</h5>
               <a href="{{path('app_categorie_de_services', {'id': serviceDuMois.id})}}" class="button">Plus de détails</a>
            </div>
         </div>
         <div class ="card_prestataire_recent card" style="width: 18rem;">
            <img src="..." class="img_prestataire_recent card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">prestataire_recent</h5>
               <a href="{{path('app_categorie_de_services', {'id': serviceDuMois.id})}}" class="button">Plus de détails</a>
            </div>
         </div>
      </div>
   </div>    
</div>
{% endblock %}
