{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
 <div class="container_main">
   <div class="main">
      <div class="container_slider">
         {% for slider in sliders %}
         <div class="container_slider_img">
            <img src="{{asset(slider.image)}}" class="slider_img" alt="test">
         </div>
         {% endfor %}     
        
      </div>
      <div class="container_categorieDeServices" id="sidebar">
         <h2>Categories de services</h2>
         <ul class="categorieDeServices_list">
            {% for service in categorieDeServices %}
               {% if service.valide %}
                  <li class='button'><a href="{{path('app_categorie_de_services', {'id': service.id})}}">{{ service.nom }}</a></li>
               {% endif %}
            {% endfor %}           
         </ul>
      </div>
      <div class="container_recherche">
         {% include 'block/recherche.twig' %}
      </div>
      <div class = "container_serviceEnAvant">
         <div class="card_serviceEnAvant " >
            <img src="{{asset(image_serviceDuMois.image)}}" class="card-img-top" alt="{{image_serviceDuMois.id}}">
            <div class=" serviceEnAvant-body">               
               <h5 class="card-title">{{serviceDuMois.nom}}</h5>
               <a href="{{path('app_categorie_de_services', {'id': serviceDuMois.id})}}" class="button"><button class="button">Plus de détails</button></a>
            </div>
         </div>  
      </div>
        
      <div class="container_prestataire_recent">
      {% for utilisateur in utilisateurs %}
      
         <div class ="card_prestataire_recent card" style="width: 18rem;">
        {% for image in images %}
            {% if image is not null and image.prestataire.id == utilisateur.prestataire.id %}
               <img src="{{asset(image.image)}}" class="img_prestataire_recent card-img-top" alt="{{ image.prestataire.id }}">
           {% endif %}  
         {% endfor %}
            <div class="card-body">
               <h5 class="card-title">{{utilisateur.prestataire.nom}}</h5>
               <h5 class="card-title">{{utilisateur.VilleCodePost.CodePost}} {{utilisateur.VilleCodePost.ville}}</h5>
               <a href="{{path('app_prestataire', {'id': utilisateur.id})}}" class="button">Plus de détails</a>
            </div>
         </div>
      
      {% endfor %}  
      </div>      
      </div>
   </div>    
</div>
{% endblock %}
