{% extends 'base.html.twig' %}

{% block title %}{{ utilisateur.prestataire.nom }}{% endblock %}

{% block body %}

<div class="container_main">
    <div class="main">
        <div class="container_slider">
         {% for slider in sliders %}
         <div class="container_slider_img">
            <img src="{{asset(slider.image)}}" class="slider_img" alt="test">
         </div>
         {% endfor %}     
        
      </div>
        <div class="container_categorieDeServices" id="sidebar">
            <h2>Categories de services</h2>
            <ul class="categorieDeServices_list">
                {% for service in categorieDeServices %}
                {% if service.valide %}
                    <li class='button'><a href="{{path('app_categorie_de_services', {'id': service.id})}}">{{ service.nom }}</a></li>
                {% endif %}
                {% endfor %}           
            </ul>
        </div>
        <div class="container_recherche">
         {% include 'block/recherche.twig' %}
        </div>
        <div class="container_card">
            <div class="card" >
                <div class="img_prestataire" style='width:40%; margin: 1rem auto'>
                    <img src="{{asset(image.image)}}" class="img_prestataire card-img-top" alt="{{ image.prestataire.id }}">
                </div>
                    
                <div class="card-body">
                

                    <h5 class="card-title">{{ utilisateur.prestataire.nom}}</h5>
                    
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>Adresse: {{ utilisateur.AdresseRue }}, {{utilisateur.AdresseNumber}}</p>
                    
                    </li>
                    <li class="list-group-item">
                        <p>Téléphone: {{ utilisateur.prestataire.numTel }}</p>
            
                    </li>
                    <li class="list-group-item">
                        <p>E-mail: {{ utilisateur.email }}</p>
                    </li>
                </ul>
                
            </div> 
        </div>

        {# 
        ajouter les stages et les promotions
        similaire avec commune
           
        
        #}
          
        <div class="container_prestataire_simi">
        {% for prestaSimi in prestatairesSimilaires %}
            {% if prestaSimi.id != utilisateur.prestataire.id %}
            
            <div class ="card_prestataire_simi card" style="width: 18rem;">
           
             {% for image in images %}
                {% if image.prestataire.id == prestaSimi.id %}
                    <img src="{{asset(image.image)}}" class="img_prestataire_recent card-img-top" alt="{{ image.prestataire.id }}">
                {% endif %}
            {% endfor %}
                <div class="card-body">
                <h5 class="card-title">{{prestaSimi.nom}}</h5>
                <a href="{{path('app_prestataire', {'id': prestaSimi.id})}}" class="button">Plus de détails</a>
                </div>
            </div>
          {% endif %}
        {% endfor %}  
        </div>      
    </div>
</div>

{% endblock %}
