<div class="promotionForm" id='promotionForm'>  
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_nom_promo">Nom</span>
        <input type="text" id="nom_promo" name="nom_promo" class="form-control" aria-label="Sizing example input" aria-describedby="lb_nom_promo" value="{{faker.word()}}" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_description_promo">Description</span>
        <textarea id="description_promo" name="description_promo" class="form-control" aria-label="Sizing example input" aria-describedby="lg_description_promo" >{{faker.text(200)}}</textarea>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_dateIn_promo">Date de début</span>
        <input type="date" id="dateIn_promo" name="dateIn_promo" class="form-control" aria-label="Sizing example input" aria-describedby="lb_dateIn_promo" value="{{ date('+10 days')|date('Y-m-d') }}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_dateOut_promo">Date de fin</span>
        <input type="date" id="dateOut_promo" name="dateOut_promo" class="form-control" aria-label="Sizing example input" aria-describedby="lb_dateOut_promo" value="{{ date('+15 days')|date('Y-m-d') }}" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_affichageIn_promo">Date de début de l'affichage</span>
        <input type="date" id="affichageIn_promo" name="affichageIn_promo" class="form-control" aria-label="Sizing example input" aria-describedby="lb_dateOut_promo" value="{{ date('+10 days')|date('Y-m-d') }}" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_affichageOut_promo">Date de fin de l'affichage</span>
        <input type="date" id="affichageOut_promo" name="affichageOut_promo" class="form-control" aria-label="Sizing example input" aria-describedby="lb_dateOut_promo" value="{{ date('+15 days')|date('Y-m-d') }}" >
    </div>
    <div class="input-group mb-3">
        <label for="categorie-services">Catégorie de services : </label><br>
        <select id="categorie-services" name="options[]" multiple>
        {% for service in categorieDeServices %}
            <option value="{{service.id}}">{{service.nom}}</option>
         {% endfor %}   
        </select>
    </div>
    

</div>
 