
{{ form_start(form) }}

<div class="container containerSearch_form">
    <div class="row">
        <div class="col-md-12 mt-3 formInput text-center">
            {# Affichez le champ select_prestataire #}
            {{ form_row(form.select_prestataire) }}
        </div>
        <div class="col-md-12 mt-3 formInput text-center">
            {# Affichez le champ select_categorieDeServices #}
            {{ form_row(form.select_categorieDeServices) }}
        </div>
        <div class="col-md-12 mt-3 formInput text-center">
            {# Affichez le champ select_ville_CP_region #}
            {{ form_row(form.select_ville_CP_region) }}
        </div>
        <div class="col-md-4 formInput formSubmit">
            
            {{ form_row(form.submit) }}
        </div>
    </div>
</div>


{{ form_end(form) }}
