{% extends 'base.html.twig' %}

{% block title %}{{ categ.nom }}{% endblock %}

{% block body %}

<div class="container_main">
    <div class="main">
        
        <div class="container_categorieDeServices" id="sidebar">
            <h2>Categories de services</h2>
            <ul class="categorieDeServices_list">
                {% for service in categorieDeServices %}
                {% if service.valide %}
                    <li class='button'><a href="{{path('app_categorie_de_services', {'id': service.id})}}">{{ service.nom }}</a></li>
                {% endif %}
                {% endfor %}           
            </ul>
        </div>
        <div class="container_recherche">
         {% include 'block/recherche.twig' %}
        </div>
        <div class="container_card_categorieDeServices">
            <div class="card" >
                <img src="{{asset(image.image)}}" class="card-img-top" alt="{{image.id}}">
                <div class="card-body">
                    <h5 class="card-title">{{ categ.nom}}</h5>
                    <p class="card-text">{{ categ.description}}</p>
                </div>
               
            </div> 
        </div>
        <div class="container_prestataires">
            <div class="row">
                {% for prestataire in prestataires %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            {% for image in images %}
                                {% if image is not null and image.prestataire.id == prestataire.id %}
                                    <img src="{{asset(image.image)}}" class="card-img-top" alt="{{ image.prestataire.id }}">
                                {% endif %}
                            {% endfor %}
                            <div class="card-body">
                                <h5 class="card-title">{{ prestataire.nom }}</h5>
                                <p class="card-text">Site Internet: {{ prestataire.siteInternet }}</p>
                                <p class="card-text">Numéro de téléphone: {{ prestataire.numTel }}</p>
                                <p class="card-text">Numéro de TVA: {{ prestataire.numTva }}</p>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container_promotions">
            <div class="row">
                {% for promotion in promotions %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ promotion.nom }}</h5>
                                <p class="card-text">Site Internet: {{ prestataire.description }}</p>                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
